<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/invoices" routerLinkActive="active">Invoices</a>
      </li>
      <li class="loggedin" *ngIf="storage.get('user')">
          <button class="btn btn-default" (click)="logout()" > Log Out </button>
      </li>
    </ul>
  </div>
</nav>
