body {
  padding-top: 5rem;
  background-color: #4ABDAC;
}

.starter {
  background: #4ABDAC;
  padding: 1em 1.5em 2.5em;
  text-align: center;
  margin: 120px auto;
  width: 350px;
  border: 2px solid;
  color: white;
  border: 4px solid #1b796b;
  border-radius: 14px;
}

.btn {
  background: #F7B733;
  border-color: #F7B733;
}

input {
  border-radius: 8px;
}

.message {
  font-size: 2em;
  font-weight: bold;
  color:#1b796b;
  margin-bottom: 15px;
}
