<div class="page-title">
  <h1> List of Invoices</h1>
</div>

<div class="container">
  <div class="row add">
    <h4> Add a new Invoice </h4>
      <input #newItem class="form-control" id="add-box" (keyup.enter)="addItem(newItem.value); newItem.value=''">
      <button class="btn btn-warning" (click)="addItem(newItem.value); newItem.value=''" > Add </button>
  </div>
</div>

<app-invoices-list [newInvoice]="newInvoice"
                   [copyInvoice]="copyInvoice"
                   [removeInvoice]="removeInvoice"
                   (invoiceArray)="getInvoices($event)"
                   (clearItems)="clearItems($event)">
</app-invoices-list>

<div id="div1">
    <div id="div2">
        <div id="div3">
          <div class="container">
          <div class="row alert alert-secondary" *ngFor="let invoice of invoiceArray">
            <div class="col-7" style="padding:10px 10px;"> {{ invoice.name }} </div>
            <div>
              <button class="btn btn-info" (click)='copyItem(this.invoice)'> Copy </button>
            </div>
            <div>
              <button class="btn btn-danger" style="margin-left: 10px;" (click)="removeItem(this.invoice)"> Delete </button>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>
